*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    background-color: rgba(110, 116, 128, 0.881);
}


.navbar{
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    color: gainsboro;
    font-size: 1.2rem;
    list-style: none;
    font-weight: 700;
}
.logo{
    height: 2.5rem;
}
.btn{
    font-weight: 700;
    padding: 8px 15px;
    border: 2px solid rgb(201, 201, 201);
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: transparent;
    cursor: pointer;

}
.hero-section1{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 3rem;
}

.hero-image{
    height: 550px; 
    width: 450px;
    padding: 20px;
    border-radius: 7%;
    margin-left: 3rem;
}

.hero-description{
    width: 50%;
    display: inline;
    margin-top: 2rem;
    text-align: left;
    margin-right: 4rem;
}

.hero-description h2{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 600;
    align-items: center;
    text-align: left;
}
.hero-description p{
    color: rgb(201, 200, 200);
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.input{
    margin-top: 3rem;
    padding: 2px 25px;
    border-radius: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
    width:fit-content;
}
.btn1{
    margin-left: 3rem;
    font-weight: 700;
    padding: 8px 15px;
    border: 2px solid rgb(201, 201, 201);
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: green;
    cursor: pointer;
}

.hero-section2{
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-section2 h2{
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
}

.dashboard{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    gap: 8rem;
}
.dashboard span{
    font-size: 10px;
    color: #24241c;
}

.hero-section2 img{
    height: 300px;
}